.select-box {
	display: flex;
}
.select-box__input {
	background-color: #6698cb;
	color: #fafafa;
	padding: 0.45em 0.5em 0.6em;
	width: auto;
	font-size: 0.85em;
	font-weight: 800;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	-webkit-appearance: none;
	border: 0;
	outline: 0;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
}

select:focus,
select:active {
	border: 0;
	outline: 0;
}
