.notes-list {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	min-height: 0;
	flex-grow: 1;
}

.notes-list__item {
	flex: 1 1 auto;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0 2rem;
	margin-bottom: 0.5rem;
	min-height: 95px;
	min-width: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
	transition: 0.15s;
	cursor: pointer;
	position: relative;
}
.notes-list__item:hover .notes-list__item_delete {
	opacity: 1;
}
.notes-list__item_title {
	margin-bottom: 0.35rem;
}
.notes-list__item_subtitle {
	font-weight: initial;
	font-style: italic;
	display: inline;
	color: #4a4a4a;
}
.notes-list__item_delete {
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0.5rem;
	font-style: normal;
	cursor: pointer;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
	transition: 0.15s;
}
.notes-list__item_delete:hover {
	color: #d55050;
}
.notes-list__item_delete::before {
	content: '✖';
	font-weight: 900;
}
.notes-list__item:hover {
	border-color: #6698cb;
	background-color: #d1dbe6;
}
.notes-list__active-item:hover,
.notes-list__active-item {
	background-color: #99bbe0;
	border-color: #99bbe0;
}
