.app {
	height: 100vh;
}

.link {
	color: #61dafb;
}

.wrapper {
	display: flex;
	height: 100%;
	padding: 0 2rem;
}
.wrapper__item {
	flex: 1 0 auto;
	margin: 1rem;
	background-color: #cacaca;
}
.wrapper__item-content-view {
	width: 50%;
}
