.app {
	height: 100vh;
}

.link {
	color: #61dafb;
}

.wrapper {
	display: flex;
	height: 100%;
	padding: 0 2rem;
}
.wrapper__item {
	flex: 1 0 auto;
	margin: 1rem;
	background-color: #eaeaea;
	border-radius: 3px;
}
.wrapper__item:first-child {
	max-width: 30%;
}

.buttons-group {
	display: flex;
}
.buttons-group > .button {
	margin-right: 0.5rem;
}
